.container {
  background-color: rgb(97, 97, 181);
  .subcontainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      width: 80%;
      li {
        color: white;
        padding: 10px;
        a {
          color: white;
        }
      }
    }
  }
}
